streamlit
python-dotenv
google-generativeai
langchain-google-genai
langchain
langchain_community
streamlit-extras
fpdf
streamlit-multipage
streamlit-folium
google.generativeai
jupyter
streamlit-supabase-auth
st-paywall
extra_streamlit_components