@import url('https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css');

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-message {
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.user-message {
    background-color: #F0F0F0;
    text-align: right;
}

.bot-message {
    background-color: #FFFFFF;
    text-align: left;
}

#chat-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 15px;
}

#chat-input {
    width: calc(100% - 30px);
    resize: vertical;
    min-height: 40px;
    max-height: 200px;
}

#chat-area {
    flex-grow: 1;
    overflow-y: auto;
}

#chat-area::-webkit-scrollbar {
    width: 10px;
}

#chat-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#chat-area::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    border-radius: 10px;
}

.card {
    background-color: #D3D3D3;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 187, 255, 0.1);
    padding: 20px;
    margin: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card h1 {
    margin-bottom: 10px;

}

.card h2 {
    margin-bottom: 10px;
}

.card h3 {
    color:rgba(0, 187, 255, 0.1);
    margin-bottom: 10px;
    font-weight: bold;
}

.card h4 {
    margin-bottom: 10px;
}

.card h5 {
    margin-bottom: 10px;
}

.card h6 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card button {
    background-color: #f9f9f9;
    color: #336699;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;    
}

.card button:hover {
    background-color: #336699;
    color: #f9f9f9;
}

.card button:active {
    background-color: #f9f9f9;
    color: #336699;
}

.card button:focus {
    outline: none;
}

.card button:disabled {
    background-color: #f9f9f9;
    color: #336699;
    cursor: not-allowed;
}

.card button:disabled:hover {
    background-color: #f9f9f9;
    color: #336699;
}

.card button:disabled:active {
    background-color: #f9f9f9;
    color: #336699;
}

.card button:disabled:focus {
    outline: none;
}

